body {
    font-family: Arial, sans-serif; /* Define a fonte do texto como Arial, com fallback para sans-serif */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    background-image: url(./imagens/imagen_Fundo.jpg); /* Define a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center center; /* Centraliza a imagem */
}

.site-header {
    background-color: rgba(51, 51, 51, 0.8); /* Define a cor de fundo do header como cinza escuro com opacidade */
    color: white; /* Define a cor do texto do header como branco */
    padding: 1em 0; /* Adiciona padding de 1em no topo e na base do header */
}

.site-nav .nav-list {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0; /* Remove o padding padrão da lista */
    display: flex; /* Define o layout da lista como flexbox */
    justify-content: center; /* Centraliza os itens da lista horizontalmente */
}

.site-nav .nav-item {
    margin: 0 1em; /* Adiciona margem de 1em à esquerda e à direita de cada item da lista */
}

.site-nav .nav-link {
    color: white; /* Define a cor do texto dos links como branco */
    text-decoration: none; /* Remove a sublinha dos links */
}

.site-main {
    padding: 2em; /* Adiciona padding de 2em ao redor do conteúdo principal */
}

.intro-section .intro-title {
    font-size: 2em; /* Define o tamanho da fonte do título */
}

.intro-section .intro-text {
    font-size: 1em; /* Define o tamanho da fonte do texto de introdução */
}

.site-footer {
    background-color: rgba(51, 51, 51, 0.8); /* Define a cor de fundo do footer como cinza escuro com opacidade */
    color: white; /* Define a cor do texto do footer como branco */
    text-align: center; /* Centraliza o texto do footer */
    padding: 1em 0; /* Adiciona padding de 1em no topo e na base do footer */
    position: fixed; /* Fixa o footer na parte inferior da página */
    width: 100%; /* Define a largura do footer como 100% */
    bottom: 0; /* Posiciona o footer na parte inferior da página */
}